main {
  text-align: center;
  font-family: 'Roboto';
  padding-top: 100px;
  max-width: 666px;
  margin: 0 auto;
}

p {
  text-align: left;
  line-height: 2;
  font-size: 18px;
}

input {
  font-family: 'Share Tech Mono', monospace !important;
  font-size: 38px !important;
}

#form {
  max-width: 440px;
  margin: 60px auto;
}

#form > div {
  padding: 10px 0;
}

main pre {
  text-align: left;
  background: #eee;
  border-radius: 3px;
  padding: 10px;
}